---
import { profileConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();
---

<footer aria-label="Footer">
  <!-- Divider -->
  <div class="transition border-t border-dashed border-black/10 dark:border-white/15 my-10 mx-32"></div>

  <!-- Footer box -->
  <div
    class="transition border border-dashed border-black/10 dark:border-white/15 rounded-2xl mb-12 mx-32 px-6 py-4 flex flex-col items-center justify-center"
  >
    <div class="transition text-sm text-center leading-relaxed text-black/50 dark:text-white/50">
      &copy; <span id="copyright-year">{currentYear}</span> {profileConfig.name}. All Rights Reserved. /
      <a
        class="transition font-medium text-[var(--primary)] underline decoration-dashed underline-offset-4 hover:decoration-transparent"
        href={url("rss.xml")}
        target="_blank"
        rel="noopener noreferrer"
      >
        RSS
      </a>
      /
      <a
        class="transition font-medium text-[var(--primary)] underline decoration-dashed underline-offset-4 hover:decoration-transparent"
        href={url("sitemap-index.xml")}
        target="_blank"
        rel="noopener noreferrer"
      >
        Sitemap
      </a>
      <br />
      Powered by
      <a
        class="transition font-medium text-[var(--primary)] underline decoration-dashed underline-offset-4 hover:decoration-transparent"
        href="https://astro.build"
        target="_blank"
        rel="noopener noreferrer"
      >
        Astro
      </a>
      &amp;
      <a
        class="transition font-medium text-[var(--primary)] underline decoration-dashed underline-offset-4 hover:decoration-transparent"
        href="https://github.com/saicaca/fuwari"
        target="_blank"
        rel="noopener noreferrer"
      >
        Fuwari
      </a>
    </div>
  </div>
</footer>
